body {
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

h1 {
  font-weight: 300;
  margin-bottom: 13px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  margin-top: 10px;
  font-size: 23px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: -30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

hr {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 700px;
  padding: 60px 40px;
  color: white;
  background-color: rgba(100, 121, 173, 0.6);
  font-size: 17px;
  border-radius: 10px;
}
.weather-icons {
  color: white;
}

#contact {
  margin: 0 auto;
  display: block;
  margin-bottom: -15px;
  text-align: center;
  font-size: 11px;
}
#contact-link {
  color: white;
}

#icon-link {
  color: white;
}

#units {
  font-size: 17px;
  margin: -17px;
}

#current {
  display: block;
  margin-top: 15px;
  margin-bottom: -1px;
  padding: 30px;
  text-align: center;
}

#current-temp {
  font-size: 50px;
  display: inline;

  padding: 18px;
}

#extra {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin-top: -5px;
}

#forecast {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
#fahrenheit-current {
  cursor: pointer;
}

#celsius-current {
  cursor: pointer;
}
